.progress-container {
  background-color:transparent;
  width: 10px;
  height: 200px;
  display: grid;
  grid-template: repeat(repeat(10,1fr),1fr);
}

.progress-box {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;

}
.progress-circle {
  text-align: center;
  line-height: 8px;
  font-size: 5px;
  border-radius: 50%;
  border: 1px solid blue;
}

.progress-bridge {
  display: grid;
  justify-content: center;
  align-items: center;
}
.progress-line {
  width: 2px;
  height: 105%;
  background-color: blue;
}

.complete {
  background-color: blue;
}
