.progress-container {
  background-color:transparent;
  width: 200px;
  height: 10px;
  display: grid;
  grid-template-columns: repeat(1,1fr);
}

.progress-box {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.progress-circle {
  text-align: center;
  line-height: 8px;
  font-size: 5px;
  border-radius: 50%;
  border: 1px solid #0dc5ce;
}

.progress-bridge {
  display: grid;
  justify-content: center;
  align-items: center;
}
.progress-line {
  height: 3px;
  width: 10px;
  background-color: #0dc5ce;
}

.complete {
  background-color: #0dc5ce;
}
