 
body, html {
  background-color: #181B33;
}

.colections{
  display: flex;
}

.card {
  width:14.5%;
  height:auto;
  display: block;
  margin: 6% auto;
  &:hover {
    // box-shadow: 12px 5px 20px 10px darken(#0dc5ce, 20%);
    cursor: pointer;
    .button-primary {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    }
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.card-header {
  height: 66%;
  width: 100%;
  padding: 5.3%;
  width:100%;
  background-size:cover;
  color:orange;

}

 
.card-body {
  height:100%;
  padding: 5.3%;
  background-color:#0dc5ce;
  width:100%;
}

.btn-display {
  padding: 5.3%;
  background-color:#0dc5ce;
  width:100%;
}


.body-content {
  padding-bottom: 15%;
  font-size: 0.8rem;
  line-height: 1.8;
}

.button-primary {
  width: 100%;
  border: none;
  box-shadow: none;
  outline: none;
  font-family: inherit;
  background-color:#0dc5ce;
  color: #fff;
  font-size: 1.2rem;
   
}


