$background-color: #181B33;
$highlights: #0dc5ce;

body {
  background-color: $background-color;
}

.welcome {
  color: #fff;
  margin-top: 13.33vh;
  text-align: center;

  h1 {
    font-size: 160px;
    font-weight: 900;
    letter-spacing: 2px;
  }

  a {
    font-size: 80px;
    font-weight: 900;
    color: $highlights;
  }
}